{% extends 'codebase/base.html' %}
{% block content%}
    {% for profile in profiles %}
        <article class="media content-section">
            <div class="media-body">
                {% if profile.user.socialaccount_set.exists %}
                    {% if profile.dp.url == '/media/default.jpg'%}
                        <img class="rounded-circle list-img" src="{{profile.user.socialaccount_set.all.0.extra_data.picture}}">
                    {% else %}
                        <img class="rounded-circle list-img" src="{{profile.dp.url}}">
                    {% endif %}        
                {% else %}
                    <img class="rounded-circle list-img" src="{{profile.dp.url}}">
                {% endif %}
                
                <h2><a class="article-title" href="{% url 'profile' username=profile.user.username %}">{{ profile.user.username }}</a></h2>
                
                {% if profile.user in following %}
                    <a class="btn btn-outline-info" href="{% url 'unfollow' username=profile.user.username %}">Unfollow</a>
                {% else %}
                    <a class="btn btn-outline-info" href="{% url 'follow' username=profile.user.username %}">Follow</a>
                {% endif %}
                {% if profile.user in following %}
                    {% if profile.user in subscribers %}
                        <a class="btn btn-outline-info" href="{% url 'unsubscribe' username=profile.user.username %}">Unsubscribe</a>
                     {% else %}
                        <a class="btn btn-outline-info" href="{% url 'subscribe' username=profile.user.username %}">Subscribe</a>
                     {% endif %}
                {% endif %}
            </div>
          </article>
    {% endfor %}
{% endblock %}